In [2]:
#Employee Attrition Prediction Using Machine Learning (IBM HR Dataset)

In [3]:
#Import all the Requered Librarys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Load the DataSet File and view the First 5 rows data.
df = pd.read_csv("Employee_Attrition_Prediction IBM_HR_Dataset.csv")
print("Lets see the Details of the Datasets.................\n")
df.head()

Lets see the Details of the Datasets.................

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
#Check the total Columns of the Datasets.
print("Lets see the total columns that is exist into this Dataset is:\n")
old_columns = df.columns
print(old_columns)

Lets see the total columns that is exist into this Dataset is:

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [6]:
#Print shape of the datasheets.
print(f"The Total Numbers of the Columns is {df.shape[1]} and the total numbers of the Rows is {df.shape[0]} (Before)")

The Total Numbers of the Columns is 35 and the total numbers of the Rows is 1470 (Before)

In [7]:
#Remove the Unwanted Columns from the Datasets.
df.drop(columns=["EmployeeCount","EmployeeNumber","StandardHours","Over18"],inplace=True)
new_columns = df.columns

In [8]:
#Print new shape of the datasheets.
print(f"The Total Numbers of the Columns is {df.shape[1]} and the total numbers of the Rows is {df.shape[0]} (Before)")

The Total Numbers of the Columns is 31 and the total numbers of the Rows is 1470 (Before)

In [9]:
#Check the Null Values and remove it.
print("Lets check theere is any Null Values is present or not.........")

print(df.isnull().sum())

Lets check theere is any Null Values is present or not.........
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [10]:
#Check the Data Types of the all Columns
print("Lets check the Data Types of the all Columns............\n")
print(df.dtypes)

Lets check the Data Types of the all Columns............

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [11]:
#Describe the All data columns values.
print("Lets Describe the all Columns data..........\n")
print(df.describe())

Lets Describe the all Columns data..........

               Age    DailyRate  DistanceFromHome    Education  \
count  1470.000000  1470.000000       1470.000000  1470.000000
mean     36.923810   802.485714          9.192517     2.912925
std       9.135373   403.509100          8.106864     1.024165
min      18.000000   102.000000          1.000000     1.000000
25%      30.000000   465.000000          2.000000     2.000000
50%      36.000000   802.000000          7.000000     3.000000
75%      43.000000  1157.000000         14.000000     4.000000
max      60.000000  1499.000000         29.000000     5.000000

       EnvironmentSatisfaction   HourlyRate  JobInvolvement     JobLevel  \
count              1470.000000  1470.000000     1470.000000  1470.000000
mean                  2.721769    65.891156        2.729932     2.063946
std                   1.093082    20.329428        0.711561     1.106940
min                   1.000000    30.000000        1.000000     1.000000
25%                   2.000000    48.000000        2.000000     1.000000
50%                   3.000000    66.000000        3.000000     2.000000
75%                   4.000000    83.750000        3.000000     3.000000
max                   4.000000   100.000000        4.000000     5.000000

       JobSatisfaction  MonthlyIncome  ...  PerformanceRating  \
count      1470.000000    1470.000000  ...        1470.000000
mean          2.728571    6502.931293  ...           3.153741
std           1.102846    4707.956783  ...           0.360824
min           1.000000    1009.000000  ...           3.000000
25%           2.000000    2911.000000  ...           3.000000
50%           3.000000    4919.000000  ...           3.000000
75%           4.000000    8379.000000  ...           3.000000
max           4.000000   19999.000000  ...           4.000000

       RelationshipSatisfaction  StockOptionLevel  TotalWorkingYears  \
count               1470.000000       1470.000000        1470.000000
mean                   2.712245          0.793878          11.279592
std                    1.081209          0.852077           7.780782
min                    1.000000          0.000000           0.000000
25%                    2.000000          0.000000           6.000000
50%                    3.000000          1.000000          10.000000
75%                    4.000000          1.000000          15.000000
max                    4.000000          3.000000          40.000000

       TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
count            1470.000000      1470.000000     1470.000000
mean                2.799320         2.761224        7.008163
std                 1.289271         0.706476        6.126525
min                 0.000000         1.000000        0.000000
25%                 2.000000         2.000000        3.000000
50%                 3.000000         3.000000        5.000000
75%                 3.000000         3.000000        9.000000
max                 6.000000         4.000000       40.000000

       YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count         1470.000000              1470.000000           1470.000000
mean             4.229252                 2.187755              4.123129
std              3.623137                 3.222430              3.568136
min              0.000000                 0.000000              0.000000
25%              2.000000                 0.000000              2.000000
50%              3.000000                 1.000000              3.000000
75%              7.000000                 3.000000              7.000000
max             18.000000                15.000000             17.000000

[8 rows x 23 columns]

In [12]:
#Lets Saperate the object and Numarics columns.
object_columns = []
numaric_columns = []

for i in new_columns:
    if df[i].dtype == 'object':
        object_columns.append(i)
    else:
        numaric_columns.append(i)

#Print the Both Columns Saperately.
print("Objects Columns is:",object_columns)
print("Numaric Columns is:",numaric_columns)

Objects Columns is: ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
Numaric Columns is: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [ ]:
print("Lets Check there is any Outliers or not.")

# for i in new_columns:
#     plt.figure(figsize=(8,4))
plt.figure(figsize=(8,4))
sns.boxplot(df[''])